// fonts
.fp {font-family: sans-serif;} // font primary
.fh {font-family: 'Titillium Web',sans-serif;} // font header
.fi {font-family: 'poh-icons',sans-serif;} // font icon

// body
@bb: #fff; // body background

// colors
@blue: #002239;
@lightblue: #1d85b3;
@orange: #f75635;
@green: #9ccc00;
@cp: #32362d; // color primary
@cl: @lightblue; // color link

// font sizes
@fsp: 15px; // font size primary
@fsh1: 36px; // font size h1
@fsh2: 28px; // font size h2
@fsh3: 24px; // font size h3
@fsh4: 20px; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 1000px;
@content-padding: 0;